
.banner {
  height: 72px;
  display: flex;
  align-items: center;
  color: white;
}

.banner-negro {
  background-color: #030303;
  height: 45px;
  display: flex;
  align-items: center;
  color: white;
}


.banner-naranja {
  background-color: #fd6805c5;
  height: 72px;
  display: flex;
  align-items: center;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 2cm; /* Margen de 2 cm al lado izquierdo */
}

.naranja {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos en el banner naranja */
  padding: 20px;
  position: relative;
}

.logo-en-banner {
  width: 165px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto; /* Mantiene la proporción original del logo */
  margin-left: 143px;
}