/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.banner {
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}



.roster {
  font-size: 24px;
  margin: 10px 0;
}



body {
  font-size: 16px;
}

.contenido {
  width: 80%; /* O cualquier porcentaje que se adapte a tus necesidades */
  margin: 0 auto;
}
