/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.banner {
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
}

.banner-negro {
  background-color: #333;
  height: 60px;
}

.banner-naranja {
  background-color: #ff7f50;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 2cm; /* Margen de 2 cm al lado izquierdo */
}

.naranja {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos en el banner naranja */
  padding: 20px;
  position: relative;
}

.logo-en-banner {
  width: 135px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto; /* Mantiene la proporción original del logo */
}

.roster {
  font-size: 24px;
  margin: 10px 0;
}



body {
  font-size: 16px;
}

.contenido {
  width: 80%; /* O cualquier porcentaje que se adapte a tus necesidades */
  margin: 0 auto;
}
