/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.banner-negro {
  height: 45px;
  display: flex;
  align-items: center;
  color: white;
}

.banner-naranja {
  height: 72px;
  display: flex;
  align-items: center;
  color: white;
}


.roster {
  font-size: 34px;
  margin: 10px 0;
  margin: 33px auto;
  margin-left: 11%;
  font-weight: bolder;
}



body {
  font-size: 16px;
}

.contenido {
  width: 80%; /* O cualquier porcentaje que se adapte a tus necesidades */
  margin: 0 auto;
}
